html,body,h2,ul{
    margin:0;
    padding:0;
   
}
input{  
	background:none;  
	outline:none;  
	border:none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
/*背景颜色*/

box-shadow:0 0 0 60px #fff inset; 
/*字的颜色*/
-webkit-text-fill-color: #000;}

.header{
    width:100%;
    padding-left: 1%;
    padding-right: 1%;
    height:60px;
    background-color: #26bdb0;
    color:#fff;
    display: flex;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    z-index:9999; */

}
.left{
    width:14%;
    float: left;
    height: 560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}
.right{
    margin-left:1%;
    width:85%;
    float: left;
    height: 560px;
}

.fontFamily{
    width: 150px;
}
.fontSize{
    width: 80px;
}
.biaoti{
    width:150px
}
.biaoti,.fontSize, .fontFamily{
    border: 1px solid #ccc;
    height: 28px;

}
.logout{
    cursor:pointer;
}
.content{
    width:100%;

}

.biji{
    width: 100%;
    z-index: -1;
    background-color: white;
    padding: 10px;
    margin-top:40px;
    background-image: url("https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=336155314,497816491&fm=26&gp=0.jpg");

}
.tool{
    width:100%;
    padding:0 20px;
    background-color: white;
    position: fixed;
    top:0px;
    display: flex;
    align-items: center;
    z-index: 9999;
    box-shadow: -2px 2px 2px rgb(6 17 47 / 70%);
}
.tool form{
    margin-top: 4px;
    margin-bottom: 4px;
}
.icon_style{
    
    font-size: 16px;
    color:gray;
}
.firstLine{
    width:98%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;

}
.fenlei{
    width:200px;
    margin:0 auto;
}
.title_s{
    width: 300px ;
    height: 36px ;
    outline:none;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    text-align: left;
}
.topic_s{
    width:98%;
    margin: 0 auto;
    height: 420px ;
  
    font-size: 16px;
    padding: 2%;
    border: 1px solid gray;
    overflow: scroll;
    position: relative;
    outline:none;


}
.btn_cls{
   border:none;
   background-color: white; 
   outline:none;
   width: 30px;
   height: 30px;
   cursor: pointer;

}
.btn_cls:hover{
    background-color:#eee;
}
.fontFamily:hover{
    background-color:#eee;
}
.fontSize:hover{
    background-color:#eee;
}
.biaoti:hover{
    background-color:#eee;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:40px;
    margin-top: 20px;
    font-size: 16px;
    
}
.tab:hover{
    background-color:#26bdb0 ;
    color: white!important;
}


.top{
    width:100%;
    height: 60px;
    display: flex;
    background-color: white;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;

}
.bottom{
    width:100%;
    height: 500px;
    padding:10px;
    background-color: white;
}
.search{
    width: 300px;
    height: 36px;
}
.search:focus{
    outline: none;
    border: 1px solid #eee;
}
.edit_btn{
    background-color: #26bdb0;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}
.edit_btn:focus{
    border:none;
    outline: none;
}
.edit_icon{
    color:white;
}

.editHeader{
    width:100%;
    height:30px;
    position: fixed;
    top:0;
    background-color: #26bdb0;
    
}
.btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.touxiang{
    widows: 80px;
    height:80px;
    border-radius: 50px;
    margin-top: 20px;
    
}
.left_tab{
    width:100%;
    text-align: center;
    height:40px;
    line-height: 40px;
    margin-top: 10px;
    background-color: #fff;
    color: #26bdb0;
    font-size: 16px;
    cursor: pointer;
    list-style-type :none;
}
.active{
    background-color: #26bdb0;
    color: #fff;
}

.left_cart{
    width:100%;
}

.usersetting{
    color:#26bdb0;
    font-size:16px;
    position: absolute;
    top:80px;
    right: 10px;
    display: block;
    width:20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
input[type="checkbox"].jc-switch{
	/* 属性选择[type="checkbox"] */
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 2.8rem;
    height: 1.4rem;
    /* border: 1px solid #ccc; */
    background-color: #ccc;
    border-radius: 0.7rem;
}
input[type="checkbox"].jc-switch::after{
    content: "";
    display:inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px #999;
    transition: left 0.1s;
    position: absolute;
    top: 0;
    left: 0;
}
input[type="checkbox"].jc-switch:checked{
    background-color: #26bdb0;
}
input[type="checkbox"].jc-switch:checked::after{
    position: absolute;
    top: 0;
    left: 50%;
}